section.about
	.container
		h2.about__title Первые на рынки таджикистана
		- var about = [{title:"О Компани",text:""},{title:"Наши цели",text:""}, {title:"Миссия",text:""},{title:"Партнерам",text:""},{title:"Вакансии",text:""}]
		ul.about__tabbuttons
			each item, index in about
				-if (index == 0) 
					li.about__tabitem.about__tabitem--active
						a(href="#").about__tablink= item.title
				- else
					li.about__tabitem
						a(href="#").about__tablink= item.title
		ul.about__list
			each item, index in about
				- if (index == 0)
					li.about__item.about__item--active
						h3.about__subtitle= item.title
						.about__tabcontent
							p.about__text Компания Таймерс основана в 1997 году, в городе Красноярск. Основным направлением нашей деятельности является дистрибьюция продуктов питания. По видам продукции можно выделить 3 направления, по которым мы работаем: бакалея, кондитерские изделия, колбасная продукция. В рамках этих направлений представлена продукция известных российских и зарубежных производителей: Молочная продукция компании «Назаровское молоко», продукция компании «Орими трэйд» (чай принцесса Канди, Нури, Ява, Гринфилд, Tess).Кондитерские изделия компаний «Рахат»,  «Пензенская кондитерская фабрика», «Продвагон», «Сладонеж», и т.д. ; Колбасная продукция компаний КПК. С 2006 года начал работать филиал компании в г. Абакан (Республика Хакассия). Собственные склады и подъездные пути в Хакассии дают нам возможность качественно обслуживать наших клиентов.
				- else if (index == 1)
					li.about__item
						h3.about__subtitle= item.title
						.about__tabcontent
							ul.about__text
								li Увеличение обслуживаемых торговых точек по стране.
								li Открытие дополнительных представительств в регионах страны.
								li Модернизация внедрённых КПК для каждого структурного подразделения отдела продаж и смежных отделов.
								li Разработка и внедрение ценовой архитектуры, стимулирующей торговые точки и нацеленной на обеспечение стабильных торговых условий.
								li Внедрение эффективной мотивационной системы сотрудников отдела продаж.
								li Оптимизация организационной структуры отдела продаж.
								li Увеличение охвата рынка.
				- else if (index == 2)
					li.about__item
						h3.about__subtitle= item.title
						.about__tabcontent
							.about__tabvideo
								video#my-video.video-js.vjs-fluid.placeholder(controls='', preload='auto', poster='img/idealm.jpg', data-setup='{}')
									source(src='img/idealm.mp4', type='video/mp4')
									source(src='idealm.WebM', type='video/webm')
									p.vjs-no-js
										| To view this video please enable JavaScript, and consider upgrading to a web browser that
										a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
							p.about__text
								| Каждый день мы покупаем множество разных вещей, от продуктов питания  до бытовой химии. Это вещи без которых просто не возможно представить быт современного человека. Взять бутылку воды и пройтись с ней до кассы, сейчас для нас абсолютно обыкновенное дело. А это стало возможным благодаря появлению на рынке Таджикистана в 1996 году компании Идеал-м. Компания стала не только пионером в этом виде бизнеса, но и благодаря высоко квалифицированным  сотрудникам , по сей день остается лидером на рынке Таджикистана.  Обслуживая более 4500 тыс. торговых точек, 3 региона, и более 30 районов Таджикистана.
							p.about__text
								| Идеал-М охватывает 70% населения страны. 5 250 000 жителей Таджикистана пользуются услугами Идеал-М. Дистрибуция становится все более развивающейся сферой, которая предполагает как хорошую прибыль, так и  высокую ответственность и серьезный подход к делу.
							p.about__text
								| Сейчас мы находимся на территории склада компании Идеал-М его площадь более 6 тыс м2 . Вся продукция доставляется именно сюда, а уже потом распределяется по точкам продаж. А это самые крупные оптовые рынки Душанбе, Худжанда и Регара.
							p.about__text
								| В более чем 550 торговых точках столичных рынков : Фаровон и Садбарг представлен большой ассортимент продукции компаний партнеров.
							p.about__text
								| Идеал-М благодаря своевременной и бесперебойной доставки в эти торговые точки, не только жителей столицы но и близ лежащие районы республиканского подчинения обеспечены необходимыми товарами.
							p.about__text
								| Высокий уровень сервиса, в основе которого лежат передовые технологии и профессионализм сотрудников, дает возможность клиентам Идеал-М организовать необходимый товарный запас, выгодно разместить продукцию, а так же выявлять  тенденции и сезонность колебания продаж.  Быстрое принятие решений, оперативность и четкость во взаимодействии, гибкая ценовая политика , активное участие в продвижении продукции и другие виды услуг, что позволяет своевременно отвечать на запросы партнеров, а это является наиболее высшим приоритетом компании Идеал-М.
							p.about__text
								| Порой приходится иметь дело  со следующими продуктами, требующими особого отношения.  Для этого у компании Идеал-М имеются 5 минусовых камер для хранения продукций глубокой заморозки и одна камера для поддержания плюсовой температуры. Общий объем камер составляет 11000м3 Т.е. перед  тем как попасть в ваш холодильник продукты успели побывать в этом.
							p.about__text
								| Бондюэль, Кока-кола, Ахмад ти, Махеевъ, SC Johnson, Олив лайн-являются одним из основных партнеров компании Идеал-М. В ней более 230 сотрудников нацеленных на достижение максимального результата. И именно поэтому Идеал-М лидер на рынке Дистрибуции Таджикистана и надежный партнер во всех отношениях.
				- else if (index == 3)
					li.about__item
							h3.about__subtitle= item.title
							.about__tabcontent
								p.about__text Компания Ideal-M обслуживает более, чем 4500 торговых точек на территории Таджикистана.
								p.about__text Деятельность компании охватывает 3 региона и более 30 районов Республики Таджикистан. Представительства Ideal-M имеют собственную инфраструктуру, развитую сеть филиалов и сотрудничают с партнёрами в крупнейших городах страны: Худжанде, Хороге, Турсун-заде, Курган-тюбе, Вахдате, Гиссаре и Яване.
								p.about__text Компания Ideal-M обслуживает 72 супермаркета в Душанбе и 35 супермаркетов по регионам страны.
				- else 
					li.about__item
						h3.about__subtitle= item.title
						.about__tabcontent
							p.about__text В настоящее время нет свободных вакансий.
		a(href="").about__btn  Работать с нами